.swiper {
  width: 100%;
  height: 100%;
}

@media (width >= 1280px) {
  .swiper {
    padding: 0;
  }
}

.swiper-slide {
  text-align: center;
  background: #fff;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  display: flex;
}

.swiper-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.button {
  color: #f2f2f2;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #333;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  text-decoration: none;
  transition: all .5s;
  display: flex;
}

.button:hover {
  color: #333;
  background: #e4dfd3;
  border: 1px solid #333;
}

@media (width >= 768px) {
  .button {
    width: 280px;
    margin: 0 auto;
  }
}

.button__link-text {
  color: #344f10;
  padding-bottom: 10px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  position: relative;
}

.button__link-text:after {
  content: "";
  background: #344f10;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (width >= 1280px) {
  .button--ondesktop1280 {
    margin: 0;
  }
}

.footer {
  background: #8c9772;
}

.footer__list {
  flex-direction: column;
  gap: 11px;
  margin-bottom: 20px;
  list-style-type: none;
  display: flex;
}

@media (width >= 768px) {
  .footer__list {
    padding-top: 0;
  }
}

@media (width >= 1280px) {
  .footer__list {
    flex-direction: row;
    gap: 40px;
  }
}

.footer__link {
  text-transform: capitalize;
  color: #e4dfd3;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.footer__link:after {
  content: "";
  background-color: #333;
  width: 100%;
  height: 2px;
  transition: all .5s;
  display: block;
  position: absolute;
  bottom: -10px;
  transform: scale(0);
}

.footer__link:hover:after {
  transform: scale(1);
}

@media (width >= 768px) {
  .footer__link {
    font-weight: 400;
  }
}

.footer__social {
  gap: 20px;
  margin-bottom: 40px;
  display: flex;
}

@media (width >= 1280px) {
  .footer__social {
    display: none;
  }
}

.footer__social--rightblock {
  display: none;
}

@media (width >= 1280px) {
  .footer__social--rightblock {
    margin: 0;
    display: flex;
  }
}

.footer__info {
  margin-bottom: 40px;
}

@media (width >= 1280px) {
  .footer__info {
    margin-bottom: 0;
  }
}

.footer__info-link {
  color: #e4dfd3;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
}

@media (width >= 1280px) {
  .footer__info-link {
    font-size: 16px;
  }
}

.footer__info-list {
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  display: flex;
}

@media (width >= 1280px) {
  .footer__info-list {
    gap: 20px;
  }
}

.footer__container {
  padding-top: 30px;
}

@media (width >= 768px) {
  .footer__container {
    justify-content: space-between;
    display: flex;
  }
}

@media (width >= 1280px) {
  .footer__container {
    padding-top: 61px;
  }

  .footer__down {
    display: flex;
  }
}

.copyring {
  text-align: center;
  color: #e4dfd3;
  text-transform: capitalize;
  padding: 0 0 40px;
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
}

@media (width >= 768px) {
  .copyring {
    text-align: left;
    font-weight: 400;
  }
}

@media (width >= 1280px) {
  .copyring {
    padding: 0 0 61px;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
  }
}

.header__link {
  position: relative;
}

@media (width >= 1280px) {
  .header__link {
    color: inherit;
    text-decoration: none;
  }
}

.header__link:after {
  content: "";
  background-color: #333;
  width: 100%;
  height: 2px;
  transition: all .5s;
  display: block;
  position: absolute;
  bottom: -10px;
  transform: scale(0);
}

.header__link:hover:after {
  transform: scale(1);
}

.header__block {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  display: flex;
}

@media (width >= 768px) {
  .header__block {
    padding: 20px 0 30px;
  }
}

@media (width >= 1280px) {
  .header__block {
    justify-content: space-between;
    padding: 20px 0 92px;
  }
}

.header__block--text {
  justify-content: center;
}

@media (width >= 1280px) {
  .header__block--text {
    justify-content: space-between;
    padding-top: 0;
  }
}

.header__content {
  margin: 25px 0 0;
}

@media (width >= 1280px) {
  .header__content {
    margin: 0 0 30px 100px;
  }

  .header__img {
    width: 580px !important;
  }
}

.header__title {
  color: #333;
  text-align: center;
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}

@media (width >= 768px) {
  .header__title {
    text-transform: capitalize;
    width: 466px;
    margin: 0 auto 10px;
    font-size: 36px;
    font-weight: 600;
    line-height: 150%;
  }
}

@media (width >= 1280px) {
  .header__title {
    text-align: left;
    margin: 0 auto 30px;
    font-size: 60px;
    font-weight: 600;
    line-height: 130%;
  }
}

.header__disc {
  text-align: center;
  color: #333;
  margin: 0 0 30px;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 1280px) {
  .header__disc {
    text-align: left;
    margin: 0 auto 50px;
  }
}

.header__list {
  text-transform: capitalize;
  color: #344f10;
  gap: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  list-style-type: none;
  display: flex;
}

@media (width >= 1280px) {
  .header__block-menu {
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    display: flex;
  }
}

.menu {
  transition: all .5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
}

.menu:target {
  transform: translateY(0);
}

.menu__content {
  background-color: #333;
  height: 100vh;
}

.menu__close > path {
  fill: #fff;
}

.menu__link {
  letter-spacing: .05em;
  text-transform: uppercase;
  text-transform: none;
  color: #e4dfd3;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-decoration: none;
}

.menu__nav {
  margin: 30px 0 0;
}

.menu__nav-item {
  border-bottom: 1px solid #828282;
  padding: 0 0 10px;
}

.menu__nav-list {
  text-align: center;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  display: flex;
}

.menu--onmobile {
  display: block;
}

@media (width >= 1280px) {
  .menu--onmobile {
    display: none;
  }
}

.menu--ondesktop1280 {
  display: none;
}

@media (width >= 1280px) {
  .menu--ondesktop1280 {
    display: flex;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  scroll-behavior: smooth;
  background-color: #e4dfd3;
  font-family: Poppins, sans-serif;
}

.page__body--with-menu {
  overflow: hidden;
}

.page__section {
  margin-bottom: 100px;
}

.page__section-head-title {
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #344f10;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}

@media (width >= 1280px) {
  .page__section--text {
    margin-bottom: 200px;
  }
}

.img {
  width: 100%;
}

.container {
  padding: 0 20px;
}

@media (width >= 768px) {
  .container {
    padding: 0 27px;
  }
}

@media (width >= 1280px) {
  .container {
    padding: 0 50px;
  }
}

@media (width >= 1440px) {
  .container {
    padding: 0 130px;
  }
}

@media (width >= 1280px) {
  .container--ondesktop1280 {
    padding: 0;
  }

  .about__brand--text {
    width: 400px;
  }

  .about__brand-block {
    padding-left: 82px;
    position: relative;
  }

  .about__brand-line {
    color: #344f1080;
    margin-bottom: 82px;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .about__brand-line:before {
    content: "";
    background: #344f1080;
    width: 1px;
    height: 100px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .about__brand-line--text {
    text-orientation: mixed;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
  }
}

.about__brand-head {
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #344f10;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}

@media (width >= 1280px) {
  .about__brand-head {
    letter-spacing: 1.8px;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 600;
    line-height: 110%;
  }
}

@media (width >= 768px) {
  .about__brand-container {
    justify-content: space-between;
    gap: 30px;
    display: flex;
  }
}

.about__brand-text {
  color: #333;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 150%;
}

@media (width >= 768px) {
  .about__brand-text {
    width: 342px;
  }
}

@media (width >= 1280px) {
  .about__brand-text {
    width: 380px;
    font-size: 16px;
  }
}

.about__brand-img {
  display: none;
}

@media (width >= 768px) {
  .about__brand-img {
    display: block;
  }
}

.about__brand-img--onmobile {
  display: none;
}

@media (width >= 768px) {
  .about__brand-img--onmobile {
    display: block;
  }
}

@media (width >= 1280px) {
  .about__brand-img--onmobile {
    display: none;
  }
}

.about__brand-img--ondesktop1280 {
  display: none;
}

@media (width >= 1280px) {
  .about__brand-img--ondesktop1280 {
    display: block;
  }
}

.about__brand-imgblock {
  display: none;
}

@media (width >= 1280px) {
  .about__brand-imgblock {
    align-items: end;
    gap: 20px;
    display: flex;
  }
}

@media (width >= 768px) {
  .about__creators-container {
    justify-content: space-between;
    gap: 30px;
    display: flex;
  }
}

.about__creators-text {
  margin-bottom: 20px;
}

.about__creators-button {
  margin-top: 35px;
}

@media (width >= 768px) {
  .about__creators-button {
    margin: 35px 0 0;
  }
}

@media (width >= 1280px) {
  .shop__content {
    padding-left: 82px;
    position: relative;
  }

  .shop--padding0 {
    padding: 0;
  }
}

@media (width >= 768px) {
  .shop--padding-text0 {
    padding: 0;
  }
}

.shop__text {
  text-align: center;
  margin-bottom: 20px;
}

@media (width >= 768px) {
  .shop__text {
    text-align: left;
  }
}

.shop__tab-list {
  justify-content: space-between;
  margin-bottom: 27px;
  list-style-type: none;
  display: flex;
}

@media (width >= 768px) {
  .shop__tab-list {
    justify-content: flex-start;
    gap: 30px;
  }
}

.shop__tab-item {
  letter-spacing: .05em;
  color: #333;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}

.shop__tab-item:after {
  content: "";
  background-color: #333;
  width: 100%;
  height: 2px;
  transition: all .5s;
  display: block;
  position: absolute;
  bottom: -10px;
  transform: scale(0);
}

.shop__tab-item:hover:after {
  transform: scale(1);
}

.shop__product-image-box {
  margin-bottom: 20px;
  overflow: hidden;
}

.shop__name-product {
  letter-spacing: .05em;
  text-transform: uppercase;
  letter-spacing: .9px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.shop__price {
  letter-spacing: .05em;
  text-transform: uppercase;
  letter-spacing: .9px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

@media (width >= 768px) {
  .shop__price {
    margin-bottom: 50px;
  }
}

.shop__slider {
  background-color: inherit;
  text-align: left;
  display: block;
}

@media (width >= 1280px) {
  .power__img {
    padding-right: 51px;
  }
}

@media (width >= 1440px) {
  .power__img {
    padding-right: 130px;
  }
}

.power__left-block {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.power__right-block {
  justify-content: flex-end;
  gap: 20px;
  display: flex;
}

.power--ondesktop1280 {
  padding: 0 0 0 20px;
}

@media (width >= 768px) {
  .power--ondesktop1280 {
    padding: 0 0 0 27px;
  }
}

.power__head-text {
  margin-bottom: 20px;
}

@media (width >= 768px) {
  .power__head-text {
    width: 100%;
  }
}

@media (width >= 1280px) {
  .power__head-text {
    width: 380px;
  }
}

.power__head-text--onmobile {
  display: inline-block;
}

@media (width >= 768px) {
  .power__head-text--onmobile {
    display: none;
  }
}

.power__head-text--ontablet {
  display: none;
}

@media (width >= 768px) {
  .power__head-text--ontablet {
    display: inline-block;
  }
}

.power__container {
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
  display: flex;
}

@media (width >= 1280px) {
  .power__container {
    padding-left: 82px;
    position: relative;
  }
}

.power__block {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 42px;
  display: flex;
}

.power-img__container {
  flex-direction: column;
  gap: 50px;
  display: flex;
}

@media (width >= 768px) {
  .power-img__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

@media (width >= 1280px) {
  .power-img__container {
    justify-content: space-around;
  }
}

.power-img__content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.power-img__image {
  margin-bottom: 20px;
}

.power-img__text {
  letter-spacing: .05em;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

@media (width >= 768px) {
  .power-img__text {
    width: 218px;
  }

  .power__img--onmobile {
    display: none;
  }
}

.power__img--ontablet {
  display: none;
}

@media (width >= 768px) {
  .power__img--ontablet {
    display: block;
  }
}

.contact__us--button {
  width: 100%;
  margin-top: 30px;
  font-family: Poppins, sans-serif;
}

@media (width >= 768px) {
  .contact__us--button {
    width: 280px;
    margin-left: 0;
  }

  .contact__us-block {
    justify-content: space-between;
    gap: 30px;
    display: flex;
  }
}

@media (width >= 1280px) {
  .contact__us-block {
    padding-left: 82px;
    position: relative;
  }
}

.field-form {
  background-color: #0000;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  outline: none;
  width: 100%;
  margin-bottom: 25px;
  padding-bottom: 5px;
}

.field-form:nth-child(3) {
  margin-bottom: 45px;
}

.field-form--text {
  text-transform: capitalize;
  color: #828282;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 150%;
}

.field-form--message {
  resize: none;
  height: 27px;
  margin-bottom: 0;
}

.product__card-name {
  margin-bottom: 25px;
}

.product__card-price {
  margin-bottom: 20px;
}

.product__card-img {
  margin-bottom: 30px;
}

.product__card-button {
  margin-bottom: 50px;
}

.product__card--mobile {
  display: none;
}

.product__card--first-word {
  color: #344f10;
}

.product__card--text:last-child {
  margin-bottom: 20px;
}

@media (width >= 768px) {
  .product__card--container {
    padding: 0 151px;
  }

  .product__card--ontablet {
    display: none;
  }

  .product__card--mobile {
    color: #344f10;
    display: block;
  }

  .product__card-price {
    margin-bottom: 10px;
  }

  .product__card-button {
    width: 280px;
    margin: 0 auto 50px;
  }

  .product__card--text {
    font-size: 16px;
  }

  .product__card--text:last-child {
    margin-bottom: 72px;
  }
}

.text {
  z-index: -1;
  position: relative;
}

.text__block {
  display: block;
}

@media (width >= 1280px) {
  .text__block {
    justify-content: center;
    gap: 120px;
    padding: 100px 150px;
    display: flex;
  }

  .text__block:before {
    content: "";
    background: #344f1080;
    width: 530px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .text__block:after {
    content: "";
    background: #344f1080;
    width: 630px;
    height: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.text__block-left {
  display: none;
}

@media (width >= 1280px) {
  .text__block-left {
    color: #333;
    width: 380px;
    display: block;
  }
}

.text__block-right {
  letter-spacing: .05em;
  text-transform: uppercase;
  letter-spacing: .09px;
  color: #344f10;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

@media (width >= 768px) {
  .text__block-right {
    text-align: center;
    width: 280px;
    margin: 0 auto;
  }
}

@media (width >= 1280px) {
  .text__block-right {
    text-align: left;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #344f10;
    width: 380px;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
  }
}

/*# sourceMappingURL=index.971c2ea4.css.map */
